[submodule "resources/tables"]
	path = resources/tables
	url = https://github.com/PCMDI/cmip6-cmor-tables.git
[submodule "resources/cmip6-cmor-tables"]
	path = resources/cmip6-cmor-tables
	url = https://github.com/PCMDI/cmip6-cmor-tables.git
